<!--Ricardo Zevallos
301214157
LAST UPDATED: 20/06/2023
-->
<!-- The navbar with links to each webpage. embeded in it is the logo-->

<div class="navbar">
  <nav>
    <a href="/">
      <img class="logo" src="/assets/images/Logo.png" alt="Logo">
    </a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/portfolio">Portfolio</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/services">Services</a></li>
    </ul>
  </nav>
</div>
