
  <link rel="stylesheet" href="/content/app.css">

  <%- include('navbar') %>


  <!-- the welcome EJS using title -->
  <div class="container">
    <h1>Welcome to the <%- title%> page</h1>

    <!-- Services Section not much to comment on  -->
    <section class="services">
      <h2><%- description%></h2>

      <div class="service">
        <h3>Webb app developer</h3>
        <p>As you can tell from this amazing website, I can offer my services as a web app develoer.</p>
      </div>

      <div class="service">
        <h3></h3>
        <p>Donec finibus lorem vel ipsum aliquet, in fermentum sapien semper. Curabitur feugiat sapien eu felis blandit, et fringilla felis efficitur.</p>
      </div>

      <div class="service">
        <h3>Service 3</h3>
        <p>Morbi sit amet elit pharetra, luctus eros eget, ullamcorper elit. Fusce sed quam ac urna auctor commodo.</p>
      </div>
    </section>
  </div>
</body>
</html>
