<!--Ricardo Zevallos
301214157
LAST UPDATED: 20/06/2023
-->
  <link rel="stylesheet" href="/content/app.css">

  <%- include('navbar') %>


  <!-- the welcome EJS using title -->
  <div class="container">
    <h1>Welcome to the <%- title%> page! Unfortunately I cant provide photos of the projects as I lost them to a corrupt hard drive.</h1>

    <!-- Services Section not much to comment on  -->
    <section class="services">
      <h2><%- description%></h2>

      <div class="service">
        <h3>Webb app developer</h3>
        <p>As you can tell from this amazing website, I can offer my services as a web app develoer.</p>
      </div>

      <div class="service">
        <h3>Data Entry/analyst</h3>
        <p>From my experience throughout my duration at Centennial, I've had the opportunity to work with databases in linux, SQL, as well as practicing independently using python.</p>
      </div>

      <div class="service">
        <h3>C# developer</h3>
        <p>During my time at Centennial one of the primary languages we have been taught to use is C#, one of the notable projects we created involved a theatre app that displays movie times, durations, and categorize them based on genre.</p>
      </div>
    </section>
  </div>
</body>
</html>
